.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.chat_footer> form
{
    flex: 1;
    display: flex;
}

.chat_footer> form > input
{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline-width: 0;
}

.chat_footer> form > button
{
    display: none;
}

.chat_footer > .MuiSvgIcon-root
{
    padding: 10px;
    color: gray;
}